/* OPERATIONS */
.operations {
  max-width: 100rem;
  margin: 12rem auto 0 auto;
  background-color: #fff;

  &__tab-container {
    display: flex;
    justify-content: center;
  }

  &__tab {
    margin-right: 2.5rem;
    transform: translateY(-50%);

    span {
      margin-right: 1rem;
      font-weight: 600;
      display: inline-block;
    }

    &--1 {
      background-color: var(--color-secondary);

      &:hover {
        background-color: var(--color-secondary-darker);
      }
    }

    &--3 {
      background-color: var(--color-tertiary);
      margin: 0;

      &:hover {
        background-color: var(--color-tertiary-darker);
      }
    }

    &--active {
      transform: translateY(-66%);
    }
  }

  &__content {
    display: none;
    font-size: 1.7rem;
    padding: 2.5rem 7rem 6.5rem 7rem;

    &--active {
      display: grid;
      grid-template-columns: 7rem 1fr;
      column-gap: 3rem;
      row-gap: 0.5rem;
    }

    p {
      grid-column: 2;
    }
  }

  &__header {
    font-size: 2.25rem;
    font-weight: 500;
    align-self: center;
  }

  &__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;

    svg {
      height: 2.75rem;
      width: 2.75rem;
    }

    &--1 {
      background-color: var(--color-secondary-opacity);

      svg {
        fill: var(--color-secondary-darker);
      }
    }

    &--2 {
      background-color: var(--color-primary-opacity);

      svg {
        fill: var(--color-primary);
      }
    }

    &--3 {
      background-color: var(--color-tertiary-opacity);

      svg {
        fill: var(--color-tertiary);
      }
    }
  }
}